*{
    background-color: whitesmoke;
    color: black;
}

.logo{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
    
    background: radial-gradient(63.64% 63.64% at 46.56% 63.64%, #FFC600 52.6%, #E900FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}